* {
  font-family: Helvetica;
  text-align: center;
}

.header, #subheader, .footer, a {
  color: white;
}

.header, #subheader{
  background-image: url("../images/the-flatiron-building.png");
}

h1, h2, h3 {
  font-weight: bold;
}

.header h1 {
  font-size: 70px;
}

.header ul {
  list-style: none;
}

.footer a, .header ul {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p {
  font-size: 14px;
}


.footer {
  background-color: dimgray;
}

.footer p {
  font-size: 11px;
  text-align: left;
}
